
.photo {
    width: 302px;
    height: 290px;
    border-radius: 8px;
    transition: filter 0.3s ease-in-out; 
}

.icone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; 
    width: 40px; 
    height: 40px;
}

.photo:hover {
    filter: grayscale(10%) contrast(60%) brightness(90%);
}

.photo:hover + .icone {
    display: block; 
}

.heading{
  color: #fff;
font-family: Outfit;
font-size: 22px;
font-weight: 600;
line-height: 27.72px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
margin-right: 34%;
}

.heading:hover{
    color: #00FFF8;
}

