.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-right: 20%;
}

.job{
color: #8BACD9;
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20.16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.name{
 color: #fff;
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 20.16px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

.name:hover{
    color: #00FFF8;
}